<nav class="ui orange piled segment ">
    <div class="container">
        <ul>
            <li class="title"><a href="/">Home</a></li>
            <li class="title"><a href="/books">Books</a></li>
            <li class="title"><a href="/users">Users</a></li>
            <li class="title"><a href="/categories">Book Types</a></li>
            <li class="title"><a href="/genders">Genders</a></li>
        </ul>
        <h1>Book System Manger</h1>
    </div>
</nav>

