<div class="row">
    <form class="ui middle aligned center aligned grid" method="post" action="/category">
        <div class="column">
            <h2 class="ui header">
                <div class="ui orange  header">
                    New Book Type
                </div>
            </h2>
            <div class="ui stacked piled segment">
                <div class="field">
                    <div class="ui input">
                        <input type="text" required name="type" placeholder="Name">
                    </div>
                </div>

                </br>
                <button class="ui orange submit button">Create</button>
            </div>
            <div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="show">
        <h2>All Genders</h2>
        <table class="ui celled orange table">
            <thead>
            <tr>
                <th>Type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each categories}}
                <tr>
                    <td data-label="Type">{{type}}</td>
                    <td data-label="Type"> <input type="button" onclick="window.location.href='/category/delete/{{id}}'" value="Delete"></td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
